body {
  background-color: lightgray;
}

#app {
  position: absolute;
  width: 100%;
}

.pad {
  padding: 15px;
}

.noir {
  color: #000000;
}

.titre_background {
  background-color: #bf8449;
  border-radius: 20px;
}

label,
.titre {
  width: 400px;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  background-color: #375a7f;
  text-align: center;
}

.bloc_selects {
  display: flex;
  justify-content: space-around;
}

.item {
  justify-content: space-around;
}

/* espace membre */

#visio {
  width: 300px;
  height: 250px;
  background-color: #375a7f;
  text-align: center;
}
